body {
  width: 100%;
  min-width: 320px;
  max-width: 750px;
  margin: 0 auto;
  font-size: 14px;
  font-family: -apple-system, Helvetica, sans-serif;
  color: #666;
  line-height: 1.5;
}
em,
i {
  font-style: normal;
}
/*点击高亮我们需要清除清除  设置为transparent 完成透明*/
* {
  -webkit-tap-highlight-color: transparent;
}
@media screen and (min-width: 750px) {
  html {
    font-size: 75px !important;
  }
}
/*在移动端浏览器默认的外观在iOS上加上这个属性才能给按钮和输入框自定义样式*/
input {
  -webkit-appearance: none;
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*禁用长按页面时的弹出菜单*/
img,
a {
  -webkit-touch-callout: none;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  vertical-align: middle;
}
* {
  padding: 0;
  margin: 0;
  /* css3 盒子模型 */
  box-sizing: border-box;
}
.clearfix:after {
  content: "";
  display: block;
  line-height: 0;
  visibility: hidden;
  height: 0;
  clear: both;
}
@font-face {
  font-family: "iconfont";
  src: url("font/iconfont.eot");
  src: url("font/iconfont.eot?#iefix") format("embedded-opentype"), url("font/iconfont.woff2") format("woff2"), url("font/iconfont.woff") format("woff"), url("font/iconfont.ttf") format("truetype"), url("font/iconfont.svg#iconfont") format("svg");
}
.search {
  display: flex;
  height: 1.4rem;
  width: 10rem;
  background: #c44944;
}
.search > div:nth-child(1) {
  flex: 1;
  display: flex;
  width: 8.266667rem;
  height: 1.08rem;
  background: white;
  align-self: center;
  margin-left: 0.426667rem;
  border-radius: 0.166667rem;
}
.search > div:nth-child(1) span {
  font-size: 0.426667rem;
  line-height: 1.08rem;
  margin-left: 0.1rem;
}
.search > div:nth-child(1) i {
  font-size: 0.453333rem;
  margin-left: 0.206667rem;
  align-self: center;
}
.search > div:nth-child(2) {
  width: 1.32rem;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
}
.search > div:nth-child(2) i {
  font-size: 0.613333rem;
  line-height: 0.613333rem;
  margin-top: 0.24rem;
}
.search > div:nth-child(2) span {
  font-size: 0.293333rem;
}
.nav {
  height: 0.946667rem;
  border-bottom: 1px solid #e8e8e8;
  position: relative;
}
.nav > div {
  position: absolute;
  top: 0;
  right: 0;
  height: 0.92rem;
  width: 1.066667rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav > div i {
  font-size: 0.453333rem;
}
.nav ul {
  display: flex;
  color: black;
  padding: 0 0.373333rem;
  line-height: 0.946667rem;
}
.nav ul li {
  font-size: 0.453333rem;
}
.nav ul li a {
  color: black;
  padding: 0 0.266667rem;
}
.nav ul .active a {
  color: red;
}
.news {
  padding: 0.12rem 0.4rem;
}
.news h2 {
  font-size: 0.4rem;
  font-weight: normal;
  color: black;
}
.news img {
  width: 100%;
}
.news .imglist {
  display: flex;
  justify-content: space-between;
}
.news .imglist img {
  width: 2.986667rem;
  height: 1.946667rem;
  border: 1px solid #cccccc;
}
.news .news_foot {
  display: flex;
  line-height: 0.72rem;
  position: relative;
  padding-bottom: 0.133333rem;
  border-bottom: 1px solid #e8e8e8;
}
.news .news_foot span {
  font-size: 0.36rem;
  color: #999999;
  margin-right: 0.2rem;
}
.news .news_foot i {
  width: 0.466667rem;
  height: 0.346667rem;
  background: url(img/err.jpg) no-repeat center center;
  background-size: 0.466667rem auto;
  position: absolute;
  top: 0.146667rem;
  right: 0;
}
.footnav {
  position: fixed;
  bottom: 0;
  left: 50%;
  background: white;
  transform: translateX(-50%);
  width: 10rem;
  height: 1.186667rem;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #000;
}
.footnav > div {
  display: flex;
  flex-direction: column;
  font-size: 0.293333rem;
  align-items: center;
}
.footnav > div i {
  margin-top: 0.133333rem;
  font-size: 0.573333rem;
  line-height: 0.573333rem;
}
