body {
  width: 100%;
  min-width: 320px;
  max-width: 750px;
  margin: 0 auto;
  font-size: 14px;
  font-family: -apple-system, Helvetica, sans-serif;
  color: #666;
  line-height: 1.5;
}
em,
i {
  font-style: normal;
}
/*点击高亮我们需要清除清除  设置为transparent 完成透明*/
* {
  -webkit-tap-highlight-color: transparent;
}
@media screen and (min-width: 750px) {
  html {
    font-size: 75px !important;
  }
}
/*在移动端浏览器默认的外观在iOS上加上这个属性才能给按钮和输入框自定义样式*/
input {
  -webkit-appearance: none;
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*禁用长按页面时的弹出菜单*/
img,
a {
  -webkit-touch-callout: none;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  vertical-align: middle;
}
* {
  padding: 0;
  margin: 0;
  /* css3 盒子模型 */
  box-sizing: border-box;
}
.clearfix:after {
  content: "";
  display: block;
  line-height: 0;
  visibility: hidden;
  height: 0;
  clear: both;
}
@font-face {
  font-family: "iconfont";
  src: url("font/iconfont.eot");
  src: url("font/iconfont.eot?#iefix") format("embedded-opentype"), url("font/iconfont.woff2") format("woff2"), url("font/iconfont.woff") format("woff"), url("font/iconfont.ttf") format("truetype"), url("font/iconfont.svg#iconfont") format("svg");
}
.search {
  height: 1.386667rem;
  background: #c44844;
  display: flex;
  width: 10rem;
}
.search > div:nth-child(1) {
  flex: 1;
  align-self: center;
  display: flex;
  width: 8.266667rem;
  height: 1.106667rem;
  align-items: center;
  background: white;
  margin-left: 0.426667rem;
  border-radius: 0.133333rem;
}
.search > div:nth-child(1) i {
  font-size: 0.426667rem;
}
.search > div:nth-child(1) span {
  font-size: 0.4rem;
}
.search > div:nth-child(2) {
  width: 1.32rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.56rem;
  color: white;
}
.search > div:nth-child(2) i {
  font-size: 0.56rem;
  line-height: 0.56rem;
}
.search > div:nth-child(2) span {
  font-size: 0.293333rem;
  line-height: 1;
}
.nav {
  height: 0.96rem;
}
.nav ul {
  padding-left: 0.4rem;
  height: 0.96rem;
}
.nav ul li {
  float: left;
  line-height: 0.96rem;
  padding-right: 0.4rem;
  font-size: 0.48rem;
}
.video ul li > div:nth-child(1) img {
  width: 100%;
}
.video ul li .video_foot {
  height: 1.64rem;
  background: white;
  line-height: 1.013333rem;
  padding: 0.24rem 0.373333rem 0.413333rem;
}
.video ul li .video_foot .video_foot_l {
  float: left;
  height: 1.013333rem;
}
.video ul li .video_foot .video_foot_l img {
  float: left;
  width: 1.013333rem;
  height: 1.013333rem;
  border-radius: 50%;
  margin-right: 0.2rem;
}
.video ul li .video_foot .video_foot_l h2 {
  float: left;
  font-size: 0.373333rem;
  padding-right: 14px;
  position: relative;
}
.video ul li .video_foot .video_foot_l h2::after {
  content: '';
  width: 0.026667rem;
  height: 0.253333rem;
  background: #e8e8e8;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.video ul li .video_foot .video_foot_l span {
  float: left;
  font-size: 0.36rem;
  color: red;
  padding-left: 0.253333rem;
}
.video ul li .video_foot .video_foot_r {
  float: right;
}
.video ul li .video_foot .video_foot_r i {
  float: left;
}
.video ul li .video_foot .video_foot_r .i1 {
  font-size: 0.466667rem;
  margin-right: 0.2rem;
}
.video ul li .video_foot .video_foot_r span {
  font-size: 0.266667rem;
  float: left;
  margin-right: 0.633333rem;
}
.video ul li .video_foot .video_foot_r .i2 {
  font-size: 0.466667rem;
  margin-right: 0.066667rem;
}
.foot {
  width: 10rem;
  height: 1.186667rem;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  border-top: 1px solid #cccccc;
}
.foot > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.foot > div i {
  font-size: 0.533333rem;
  line-height: 1;
}
.foot > div span {
  font-size: 0.2rem;
  line-height: 1.1;
}
